:root{
    --color1:rgb(0, 145, 255);
    --color2:#fff;
    --color4:blue;
    --color3:black;
}
main{
    padding-left: 30px;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    list-style: none;
}
header ul{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color:var(--color4) ;
    opacity:0.7;
    justify-content: space-around;
    padding: 20px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--color2);
   
    font-weight: bolder;
}
body{
    font-family: cursive;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}
header ul li a{
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
header ul li a:hover{
    background-color: var(--color2);
    color:var(--color4);
    /* margin: 15px; */
    padding:4px 6px;
    transform: scale(0.7);
    transform: translateY(-200px);
    text-shadow:4px -10px 2px var(--color1) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
#accueil{
    display: grid;
     padding: 30px 30px ; 
    grid-template-columns: 50% 50%;
}
h1{
    background-color: var(--color4);
    /* display: inline; */
    font-size: 1.9rem;
    margin-right: 20px;
    transform: translateX(0);
    transition: 1s ease-in-out;
    border-radius: 15px;
    /* animation:animation 0.25s infinite; */
    padding: 5px 20px;
    color:var(--color2);
}

h1:hover{
    z-index: -1;
    
    
    background-color: var(--color2);
    color:var(--color4);
   transform: scale(0.7);
   transform: translateX(100px);
    text-shadow:4px -10px 2px var(--color1) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
#accueil img{
    height: 250px;
    width: 100%;
    
}
#accueil p{
    font-size: 1.4rem;
}
#about p{
    font-size: 1.2rem;
}
.answ1{
    visibility: hidden;
}
.btn0{
    display: flex;
/* gap:10px; */
    justify-content: space-around;
}
button{
    background-color: var(--color1);
   margin: 10px;
   padding:  5px;
   cursor:pointer;
   color:var(--color2);
   font-weight: bold;
   font-size: 0.9rem;
   border: none;
}

/* p{
    visibility: visible;
} */
/* .response{
    background-color: red;
    color:blue;
    font-weight: bold;
    
    border-radius: 10px;
    border: 1px dashed blueviolet;
} */