:root{
    --color1:rgb(0, 145, 255);
    --color2:#fff;
    --color4:blue;
    --color3:black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    list-style: none;
}
main{
    padding-left: 30px;

}
header{
    /* position: fixed; */
    width: 100%;
}
header ul{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color:var(--color4) ;
    opacity:0.7;
    justify-content: space-around;
    padding: 20px;
}

body{
    font-family: cursive;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--color2);
   
    font-weight: bolder;
}
header ul li a{
    transform: translateX(0);
    position: relative;
    transition: 0.5s ease-in-out;
}
header ul li a::after{
    content:"";
    background-color: var(--color2);
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
header ul li a::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -3px;
    background-color: var(--color2);
}
header ul li a:hover{
    background-color: var(--color2);
    color:var(--color4);
    /* margin: 15px; */
    padding:4px 6px;
    transform: scale(0.7);
    transform: translateX(-100px);
    text-shadow:8px -10px 1.5px var(--color3) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
li{
    list-style-type: none;
}

#accueil{
    display: grid;
    padding-top: 20px;
     /* padding: 30px x ;  */
    grid-template-columns: 50% 50%;
}
h1{
    background-color: var(--color4);
    /* display: inline; */
    font-size: 1.9rem;
    margin-right: 20px;
    text-align: center;
    transform: translateX(0);
    transition: 1s ease-in-out;
    border-radius: 15px;
   
    padding: 5px 20px;
    color:var(--color2);
    z-index: -1;
}

h1:hover{
    
    
    background-color: var(--color2);
    color:var(--color4);
 
   transform: scale(2);
   transform: translateX(100px);
    text-shadow:4px -12px 1px var(--color3) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
#accueil img{
    height: 250px;
    width: 100%;
    
}
#accueil p{
    font-size: 1.4rem;
}
#about p{
    font-size: 1.2rem;
}
.about-h2{
    text-align: center;
    padding: 10px;
    color:var(--color2);
    margin-right: 10;
    display: block;
  transition: 1s ease-in-out;
  position: relative;
  border-radius: 10px;
    background-color: var(--color4);
    align-items: center;
}
.about-h2::after{
    content:"";
    background-color: var(--color2);
    height: 2px;
    top: 30px;
    width: 50%;
    position: absolute;
}
.about-h2::before{
    content: "";
    background-color: var(--color2);
    height: 2px;
    width: 50%;
    left: -50px;
    top: 30px;
    position: absolute;
}
.about-h2:hover{
    background-color: var(--color2);
    color:var(--color4);
    transform: scale(1.2);

}
.answ1{
    visibility: hidden;
}
.btn0{
    display: flex;

    justify-content: space-around;
}
button{
    background-color: var(--color1);
   margin: 10px;
   padding:  5px;
   cursor:pointer;
   color:var(--color2);
   font-weight: bold;
   font-size: 0.9rem;
   border: none;
}

