.answ26, .answ27, .answ28, .answ28, .answ29, .answ30, .answ31, .answ32, .answ33, .answ34, .answ35, .answ36,       .answ37, .answ38, .answ39, .answ200, .answ40, .answ41, .answ42, .answ340, .answ43, .answ44, .answ45, .answ46, .answ47, .answ48 {
    visibility: hidden;
    font-weight: 100;
    color:rgba(215, 13, 13, 0.687);
  
}
h4{
    font-weight: 100;
    text-align: center;
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
button:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 2px var(--color3);
}
#quiz div{
    display: grid;
    
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    ;

    
}
#quiz p{
    transition: 0.9s ease-in-out;

    margin: 15px 40px 25px 25px ;
    
}
#quiz p:hover{
    transform: scale(0.5);
    font-size: 0.9rem;
    color:transparent
}

.ans4{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
/* #reseaux{
   

    position: relative;
} */
.icone{
    display: flex;
    left: 0;
    top: 50%;
    
    position: fixed;
    margin-left: 30px;
    gap:12px;
    flex-direction: column;
    justify-content: space-around;

}
i{
    cursor: pointer;
font-size: 2rem;
font-weight: 100;
opacity:0.75;
color:var(--color4);
  z-index: -1;

    transition: 1s ease-in-out;
}
i:hover{
    display: inline;
   
    transform: rotateY(180deg);
}
.icon1{
     background-color: var(--color10); 
    color: #FFFFFF; 
   font-weight: 900;
   border: none;
   border-radius: 50%;
   
}
.icon2{
    color:var(--color3);
    font-weight: 900;
}
.icon3{
  color:var(--color7);  
  font-weight: 900;
}
.icon4{
    color:var(--color9);
    font-weight: 900;
}
.con5{
color:var(--color4);
font-weight: 900;
}


#reseaux icone i{
    position: absolute;
}
@media media and (max-width:840px) {
    #quiz div{
       
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #quiz div button{
        width: 100%;
    }
    
}
@media madia and (max-width:600px) {
 
    #quiz div{
        flex-direction: column;
        display: flex;
       
        margin: 0;
    }
    #quiz div button{
        width: 100%;
    }
}
#quiz button{
    margin-top: 25px;
}

/* partie reserver aux bases de donnees */
#bd div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#bd h4{
    padding: 20px 0;
}
.answ51, .answ52, .answ53, .answ54, .answ55, .answ56, .answ57, .answ58, .answ59, .answ60, .answ61, .answ62, .answ63, .answ64, .answ65, .answ66, .answ67, .answ68, .answ69, .answ70, .answ71, .answ72, .answ73, .answ74, .answ75{
    visibility: hidden;
    font-weight: 100;
    color:rgba(215, 13, 13, 0.687);
    margin: 20px 30px 0 0;
}
.ans1{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
.answ2{
    visibility: hidden;
    color:rgba(215, 13, 13, 0.687);
}
.ans2{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
.answ3, .answ4, .answ5, .answ6, .answ7, .answ8, .answ9, .answ10, .answ11, .answ12, .answ13, .answ14, .answ15, .answ16, .answ17, .answ18, .answ19, .answ20, .answ22, .answ23, .answ24, .answ25, .answ21{
    visibility: hidden;
    color:rgba(215, 13, 13, 0.687);
    font-weight: 100;
}



.ans4{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}

/* partie programmation display grid */
#quizprog div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#quizprog p{
    margin: 20px 40px 20px 0;
}
 #quizprog p:hover{
    transform: scaleX(0.3);
  color:transparent;
 }
footer p{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2rem;
}

#quiz div button, #quizprog div button, #bd div button{
    padding: 13px 5px;
}
#accueil{
    padding-top: 100px;
}

header{
    /* position: relative; */
}
header div{

    /* display: none; */
}
header  i{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
font-size: 1.2rem;
    color:var(--color2);

}