:root{
    --color1:rgb(0, 145, 255);
    --color2:#fff;
    --color4:blue;
  
    --color3:black;
    --color6:rgb(217, 48, 37);
    --color7:rgb(45, 45, 235);  
    --color8:rgb(5, 167, 5) ;
   
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    list-style: none;
    main{
        width: 100%;
    padding-left: 30px;

}
header{
   
    width: 100%;
}
header ul{
    display: flex;
    height: 10vh;
    align-items: center;
    box-shadow: 0px 1px 3px var(--color3);
    background-color:var(--color4) ;
    opacity:0.7;
    justify-content: space-around;
    padding: 20px;
}

body, html{
    width: 100%;
    overflow-x: hidden;
   
    font-family: cursive;
    
    margin: 0;
    padding: 0;
}
a{
    
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1rem;
    color:var(--color2);
   
    font-weight: bolder;
}
header ul li a{
    transform: translateX(0);
    position: relative;
    transition: 0.5s ease-in-out;
}
header ul li a::after{
    content:"";
    background-color: var(--color2);
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
header ul li a::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -3px;
    background-color: var(--color2);
}
header ul li a:hover{
    background-color: var(--color2);
    color:var(--color4);
    
    padding:4px 6px;
    transform: scale(0.7);
    transform: translateX(-100px);
    
    text-shadow:4px -12px 1px var(--color3) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
li{
    list-style-type: none;
}
#accueil p{
    height: 200px;
    width: 100%;
    overflow: auto;
}
.animation-photo{
   display: flex;
   animation:animate 5s linear infinite;

   position:relative;
  
   
}
.circle{

    background-color: var(--color4);
    height: 40px;
  
    width: 40px;
    border-radius: 50%;
  
}
.circle1{
    position:absolute;
    left:-15px;
    top:-270px;
}
.circle2{
    position:absolute;
    left:-10px;
    bottom:5px;
}
.circle3{
    position:absolute;
   
    top: -270px;
right: 0;
    
}
.circle4{
    right: 0px;
    bottom:5px;
    position:absolute;
}
@keyframes animate {
    

    0%{
        transform:rotateY(45deg);
    }
    
    25%{
        transform: translateX(200px);
    }
    50%{
        transform:translateY(100px);
    }
    75%{
        transform: rotate(45deg);
    }
    100%{
        transform: translateY(-50%);
    }
}
#accueil{
    display: grid;
    padding-top: 20px;
     
    grid-template-columns: 50% 50%;
}
h1{
    background-color: var(--color4);
    /* display: inline; */
    font-size: 1.5rem;
    margin-right: 20px;
    text-align: center;
    transform: translateX(0);
    transition: 1s ease-in-out;
    border-radius: 15px;
   
    padding: 5px 20px;
    color:var(--color2);
    z-index: -1;
}

h1:hover{
    
    
    background-color: var(--color2);
    color:var(--color4);
 
   transform: scale(2);
   transform: translateX(100px);
    text-shadow:4px -12px 1px var(--color3) ;
    border:1px solid var(--color4);
    border-radius: 12px;
}
#accueil img{
    height: 250px;
    width: 100%;
    border-radius: 8px;
    
}
#accueil p{
    font-size: 1rem;
}
#about p{
    font-size: 1rem;
}
.about-h2{
    text-align: center;
    padding: 10px;
    color:var(--color2);
    margin-right: 10;
    display: block;
    margin: 0 40px 20px 0;
  transition: 1s ease-in-out;
  position: relative;
  border-radius: 10px;
    background-color: var(--color4);
    align-items: center;
}
.about-h2::after{
    content:"";
    background-color: var(--color2);
    height: 2px;
    top: 30px;
    width: 50%;
    position: absolute;
}
.about-h2::before{
    content: "";
    background-color: var(--color2);
    height: 2px;
    width: 50%;
    left: -50px;
    top: 30px;
    position: absolute;
}
.about-h2:hover{
    background-color: var(--color2);
    color:var(--color4);
    text-shadow: 10px -10px 1px var(--color3);
    transform: scale(0.9);

}

.btn0{
    display: flex;

    justify-content: space-around;
}
#quiz h2{
    text-align: center;
    background-color: var(--color4);
    padding: 13px;
   margin: 0 30px 0 0;
    position: relative;
    transition: 1s ease-in-out;
    color:var(--color2);
    border-radius: 15px;
}
#quiz h2::after{
    content:"";
    position:absolute;
    height: 2px;
    top: 50%;
    font-weight: bold;
    width: 50%;
    background-color: var(--color2);
}
#quiz h2::before{
    content:"";
    position: absolute;
    height: 2px;
    top: 50%;
   left:-150px;
    /* right: 0; */
    background-color: var(--color2);
    width: 50%;
}
#quiz h2:hover{
    background-color: var(--color2);
    transform: scale(0.9);
    text-shadow:10px -10px 1px var(--color3) ;
    color:var(--color4)
}
.quiz-prog-h2{
    text-align: center;
    background-color: var(--color4);
    position: relative;
       transition: 1.5s ease-in-out;
       color:var(--color2);
       border-radius: 15px;
       margin: 0 30px 20px 0;
    padding: 13px;
   
}
.quiz-prog-h2::after{
    content:"";
    position: absolute;
    height: 2px;
    top: 50%;
 background-color: var(--color2);
  width: 50%;
}
.quiz-prog-h2::before{
    content:"";
    position:absolute;
    height: 2px;
    top: 50%;
    left: -325px;
    width: 50%;
    background-color: var(--color2);
}
.quiz-prog-h2:hover{
    background-color: var(--color2);
    transform: scale(0.9);
    text-shadow:10px -10px 1px var(--color3) ;
    color:var(--color4)

}

#bd h2{
    text-align: center;
    text-align: center;
    background-color: var(--color4);
    position: relative;
    margin: 20px 30px 20px 0;
       transition: 1.5s ease-in-out;
       color:var(--color2);
       border-radius: 15px;
    padding: 13px;
}
#bd h2::after{
    content:"";
    position:absolute;
    height: 2px;
    width: 50%;
    top: 50%;
   background-color: var(--color2);
}
#bd h2::before{
    content:"";
    position:absolute;
    height: 2px;
    width: 50%;
    top: 50%;
    left: -280px;
background-color: var(--color2);  
}
#bd h2:hover{
    background-color: var(--color2);
    transform: scale(0.9);
    text-shadow:10px -10px 1px var(--color3) ;
    color:var(--color4);

}
#contact h2{
    text-align: center;
    text-align: center;
    background-color: var(--color4);
    position: relative;
    margin: 20px 30px 0 0;
       transition: 1.5s ease-in-out;
       color:var(--color2);
       border-radius: 12px;
    padding: 10px;
}
#contact h2::before{
    content:"";
    position:absolute;
    height: 2px;
    right:-45px;
    width: 50%;
    top: 50%;
background-color: var(--color2);  
}
#contact h2::after{
    content:"";
    position:absolute;
    height: 2px;
    top: 50%;
    width: 50%;
    left: -45px;
background-color: var(--color2);    
}
#contact h2:hover{
    background-color: var(--color2);
    transform: scale(0.9);
    text-shadow:30px -10px 1px var(--color3)  ;
    color:var(--color4);
}
button{
    background-color: var(--color1);
   margin: 10px;
   padding:  5px;
   transition: 1s ease-in-out;
   cursor:pointer;
   border-radius: 10px;
   color:var(--color2);
   
   font-weight: 100;
   font-size: 0.9rem;
   border: none;
}
form{
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
input{
    transition: 1s ease-in-out;
    width: 450px;
    border: 1px solid none;
    border-radius: 5px;
    font-size: 1rem;
    flex-wrap: wrap;
    padding: 3px;
}
input[type="text"]:active{
    text-shadow: 3px 5px 2px green;
    border-radius: 20px;
}
textarea{
    width: 450px;
    padding: 3px;
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
    height: 150px;
}
.sen-form{
    width: 450px;

    background-color: var(--color4);
    font-weight: 200;
    transition: 1s ease-in-out;
}
.sen-form:hover{
    background-color: var(--color4);
border-radius: 20px;
    transform: scale(0.9);
}

footer{
    text-align: center;
}
img{
    transition: 1s ease-in-out;
}
img:hover{
    transform: rotateY(180deg);
 
}
@media screen and (max-width:1120px) {
body{
   
    font-size: 1.4rem;
    margin: 0;
}
header{
    width: 100%;
    /* margin: 0;
    padding: 0; */
}
#accueil{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    input, textarea{
        width: 60%;
    }
    .sen-form{
        padding: 2px;
        width: 50%;
        border-radius: 10px;
    }
}
@media screen and (max-width:920px) {
    *{
        font-size: 1.4rem;
    }
    
      
}
@media  screen and (max-width:1350px) {
    *{
        font-size: 1.4rem;
    }
   
}
@media screen and (max-width:550px) {
    .none{
        display: none;
    }
    input, textarea{
        width: 90%;
    }
    
}
.answ1{

    visibility: hidden;
    color:rgba(215, 13, 13, 0.687);
}
.ans1{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
.answ2{
    visibility: hidden;
    color:rgba(215, 13, 13, 0.687);
}
.ans2{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
.answ3, .answ4, .answ5, .answ6, .answ7, .answ8, .answ9, .answ10, .answ11, .answ12, .answ13, .answ14, .answ15, .answ16, .answ17, .answ18, .answ19, .answ20, .answ22, .answ23, .answ24, .answ25, .answ21{
    visibility: hidden;
}
.answ3, .answ4, .answ5, .answ6, .answ7, .answ8, .answ9, .answ10, .answ11, .answ12, .answ13, .answ14, .answ15, .answ16, .answ17, .answ18, .answ19, .answ20, .answ22, .answ23, .answ24, .answ25, .answ21{
    font-weight: 100;
    color:rgba(215, 13, 13, 0.687);
}



.ans3{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}