.answ26, .answ27, .answ28, .answ28, .answ29, .answ30, .answ31, .answ32, .answ33, .answ34, .answ35, .answ36,       .answ37, .answ38, .answ39, .answ200, .answ40, .answ41, .answ42, .answ340, .answ43, .answ44, .answ45, .answ46, .answ47, .answ48 {
    visibility: hidden;
    font-weight: 100;
    color:rgba(215, 13, 13, 0.687);
  
}
h4{
    font-weight: 100;
    text-align: center;
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
button:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 2px var(--color3);
}
#quiz div{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    ;

    
}
#quiz p{
    transition: 0.9s ease-in-out;
    margin: 15px 40px 15px 15px ;
}
#quiz p:hover{
    transform: scale(0.5);
    font-size: 0.9rem;
    color:transparent
}

.ans4{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
   visibility: visible;
    color:var(--color2);
    padding-right: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px var(--color3);
    background-color: var(--color4);
    font-weight: 100;
}
#reseaux{
    /* height: 30vh; */

    position: relative;
}
.icone{
    display: flex;
    left: 0;
    top: 50%;
    /* margin: 0 auto; */
    position: fixed;
    margin-left: 30px;
    gap:12px;
    flex-direction: column;
    justify-content: space-around;

}
i{
    cursor: pointer;
font-size: 2rem;
font-weight: 100;
opacity:0.75;
color:var(--color4);
  z-index: -1;

    transition: 1s ease-in-out;
}
i:hover{
    display: inline;
   
    transform: rotateY(180deg);
}
.icon1{
   color:green ;
}
.icon2{
    color:var(--color3);
}
.icon3{
  color:rgb(45, 45, 235);  
  font-weight: 100;
}
.icon4{
    color:rgb(217, 48, 37);
    font-weight: 300;
}
/* i:nth-child(1){
    color:var(--color4);
    font-weight: 100;
    
} */
i img{
    background-color: none;
}
/* i:nth-child(5){
    color:var(--color1);
} */
/* i:nth-child(4) img{
    border-radius: 50%;
    margin-left: -8px;
    
} */
#reseaux icone i{
    position: absolute;
}
